/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$gutter: 20px;
$flushPadding: 20px 20px;

/* Container */
.container {
  position: relative;
  width: 100%;
  padding: 0 $gutter;
  box-sizing: border-box;
  &.full {
    padding: 0;
    & > .wrap {
      max-width: none;
      padding: 0;
    }
  }
  & > .wrap {
    margin: 0 auto;
    width: auto;
    padding: 0; 
    max-width: $desktop;
    box-sizing: border-box;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

/* Grid */
.row {
  margin-bottom: $gutter;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
} 
.row .col {
  float: left;
  box-sizing: border-box;
}
.row .col              { margin-left: 4%; }
.row.alt .col          { margin-left: 2%; }
.row.flush .col        { margin-left: 0; padding: $flushPadding; }
.row .col:first-child  { margin-left: 0; }

.one.col         { width: 4.66666666667%; }
.two.col         { width: 13.3333333333%; }
.three.col       { width: 22%; }
.four.col        { width: 30.6666666667%; }
.five.col        { width: 39.3333333333%; }
.six.col         { width: 48%; }
.seven.col       { width: 56.6666666667%; }
.eight.col       { width: 65.3333333333%; }
.nine.col        { width: 74.0%; }
.ten.col         { width: 82.6666666667%; }
.eleven.col      { width: 91.3333333333%; }
.twelve.col      { width: 100%; margin-left: 0; }

.one-third.col   { width: 30.6666666667%; }
.two-thirds.col  { width: 65.3333333333%; }

.one-quarter.col { width: 22% }

.one-half.col    { width: 48%; }

/* Secondary */
.row.alt {
  .one.col         { width: 6.5%; }
  .two.col         { width: 15%; }
  .three.col       { width: 23.5%; }
  .four.col        { width: 32%; }
  .five.col        { width: 40.5%; }
  .six.col         { width: 49%; }
  .seven.col       { width: 57.5%; }
  .eight.col       { width: 66%; }
  .nine.col        { width: 74.5%; }
  .ten.col         { width: 83%; }
  .eleven.col      { width: 91.5%; }
  .twelve.col      { width: 100%; margin-left: 0; }

  .one-third.col   { width: 32%; }
  .two-thirds.col  { width: 66%; }

  .one-quarter.col { width: 23.5% }

  .one-half.col    { width: 49%; } 
}

/* Flush */
.row.flush {
  .one.col         { width: 8.33333333%; }
  .two.col         { width: 16.666666%; }
  .three.col       { width: 25%; }
  .four.col        { width: 33.33333333%; }
  .five.col        { width: 41.6666667%; }
  .six.col         { width: 50%; }
  .seven.col       { width: 58.33333333%; }
  .eight.col       { width: 66.6666666%; }
  .nine.col        { width: 75%; }
  .ten.col         { width: 83.33333%; }
  .eleven.col      { width: 91.6666666%; }
  .twelve.col      { width: 100%; margin-left: 0; }

  .one-third.col   { width: 33.33333333%; }
  .two-thirds.col  { width: 66.6666667%; }

  .one-quarter.col { width: 25% }

  .one-half.col    { width: 50%; } 
}

/* Grid Offset */
.one.offset.col         { margin-left: 8.66666666667%; }
.two.offset.col         { margin-left: 17.3333333333%; }
.three.offset.col       { margin-left: 26%;            }
.four.offset.col        { margin-left: 34.6666666667%; }
.five.offset.col        { margin-left: 43.3333333333%; }
.six.offset.col         { margin-left: 52%;            }
.seven.offset.col       { margin-left: 60.6666666667%; }
.eight.offset.col       { margin-left: 69.3333333333%; }
.nine.offset.col        { margin-left: 78.0%;          }
.ten.offset.col         { margin-left: 86.6666666667%; }
.eleven.offset.col      { margin-left: 95.3333333333%; }

.one-third.offset.col   { margin-left: 34.6666666667%; }
.two-thirds.offset.col  { margin-left: 69.3333333333%; }

.one-half.offset.col    { margin-left: 52%; }

.one-half.offset.col    { margin-left: 52%; }


@media screen and (max-width: 600px) {
  .row {
    margin-bottom: 0;
  }
  .row .col {
    float: none !important;
    margin: 0 0 $gutter 0 !important;
    border: none;
    width: 100% !important;
  }  
}